body {
    font-family: proxima-nova;
    margin: 0px;
    padding: 0px;
    line-height: 1.6em;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 599px) {

}


@media screen and (min-width: 600px) {

    li.menu-item:not(:last-child) { 
        margin-bottom: 7px;  
    }
    
    .wrapper {
        margin: 50px;
        width: calc(100% - 100px);
    }
    
    .nav {
        width: 160px;
        position: fixed;
    }
    
    .logo-text {
        font-size: 27px;
        font-weight: 700;
        transform: scale(1.5, 1);
    }
    
    .subnav {
        margin-top: 35px;
    }
    
    .primary-nav {
        font-size: 16px;
        font-weight: 500;
    }
    
    .secondary-nav {
        font-size: 13px;
    }
    
    .inactive {
        color: rgb(170, 170, 170);
    }
    
    .inactive:hover {
        color: black;
    }
    
    .page {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
   
    .grid li {
        width: calc(100% - 10px);
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .grid li.shown,
    .no-js .grid li,
    .no-cssanimations .grid li {
        opacity: 1;
    }
    
    .grid li img {
        display: block;
        max-width: 100%;
    }
    
    .grid li img:hover {
        opacity: .9;
    }

    /* Effect 1: opacity */
    .grid.effect-1 li.animate {
        -webkit-animation: fadeIn 0.65s ease forwards;
        animation: fadeIn 0.65s ease forwards;
    }

    @-webkit-keyframes fadeIn {
        0% { }
        100% { opacity: 1; }
    }

    @keyframes fadeIn {
        0% { }
        100% { opacity: 1; }
    }
    
}

@media screen and (min-width: 1000px) {
    .grid li {
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (min-width: 1400px) {
    .grid li {
        width: calc(100% / 3 - 10px);
    }
}

@media screen and (min-width: 1800px) {
    .grid li {
        width: calc(100% / 4 - 10px);
    }
}
