body {
    font-family: proxima-nova;
    margin: 0px;
    padding: 0px;
    line-height: 1.6em;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 599px) {

}


@media screen and (min-width: 600px) {

    li.menu-item:not(:last-child) { 
        margin-bottom: 7px;  
    }
    
    .wrapper {
        margin: 50px;
        width: calc(100% - 100px);
    }
    
    .nav {
        width: 160px;
        position: fixed;
    }
    
    .logo-text {
        font-size: 27px;
        font-weight: 700;
        transform: scale(1.5, 1);
    }
    
    .subnav {
        margin-top: 35px;
    }
    
    .primary-nav {
        font-size: 16px;
        font-weight: 500;
    }
    
    .secondary-nav {
        font-size: 13px;
    }
    
    .inactive {
        color: rgb(170, 170, 170);
    }
    
    .inactive:hover {
        color: black;
    }
    
    .page {
        margin-left: 210px;
        width: calc(100% - 210px);
    }
    
    .thumbnail-wrapper {
        width: 100%;
        position: relative;
        column-count: 1;
        column-gap: 10px;
    }
    
    .thumbnail {
        width: 100%;
        break-inside: avoid-column;
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: top 50ms ease-out, left 50ms ease-out;
        background-color:rgba(175, 175, 175, .1);
    }
    
    .thumbnail img {
        width: 100%;
        display: inline-block;
        transition: opacity .2s;
        opacity: 1;
    }
    
    .thumbnail img.loading {
        opacity: 0;
    }
    
    .thumbnail img:hover {
        opacity: .9;
    }
    
    .thumbnail.content-fit img, .thumbnail .content-fit img {
        width: auto;
    }
}

@media screen and (min-width: 1000px) {
    .thumbnail-wrapper {
        column-count: 2;
    }
}

@media screen and (min-width: 1400px) {
    .thumbnail-wrapper {
        column-count: 3;
    }
}

@media screen and (min-width: 1800px) {
    .thumbnail-wrapper {
        column-count: 4;
    }
}
